*{
  box-sizing: border-box;
}

.people {
  --column-count: 2;

  display: grid;
  grid-template-columns: repeat(var(--column-count), 200px);
  gap: 30px;
  row-gap: 40px;

  margin: 30px 35px 155px;

  @media (min-width: 750px) and (max-width: 1000px)  {
    margin: 30px 160px 155px;
  }

  @media (min-width: 1000px) and (max-width: 1500px)  {
    --column-count: 4;
    margin: 30px 55px 197px;
  }

  @media (min-width: 1500px)  {
    --column-count: 4;
    margin: 30px 305px 197px;
  }
}
.person {
  &:hover {
    transition: 1s;
    scale: 1.3;
    background-color: #eee;
    
    .extra {
      display: block;
    }
  }

  
}
  

.rank {
  position: relative;
  top: -116px;
  left: 168px;
  background: #ffffff;
  border-radius: 200px;
  width: 32px;
  height: 32px;
  display: block;

  &__text {
  display: inline-block;
  padding: 7px 12px;

  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 16px;
  color: #8B0000;
  }
}

.photo {
  width: 200px;
  height: 200px;
  overflow: hidden; 
  border-radius: 200px;

  margin-bottom: 8px;

  &__person {
    position: relative;
  }

  & :first-child {
    display: block;
    width: 200px;
    height: auto;
  }

  &:hover {
  transition: 1s;
  border-radius: 60px;
  }
}

.details {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  color: #2F4F4F;

  width: 200px;
}

.extra {
  display: none;
}
